<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head'); %>
  <body>
    <%- include('partials/navbar'); %>

    <form method="POST" action="/auth/login">
      <label for="username">Username</label>
      <br />
      <input type="text" name="username" placeholder="Insert Your UserName" />
      <br />
      <label for="password">Password</label>
      <br />
      <input type="password" name="password" placeholder="Insert Your Password" />
      <br />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
